body {
    font-family:  'Open Sans', sans-serif
}


a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px ;
    margin: 0 auto; 
    padding: 0 5%;
}
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}
#gallery li {
    float: right;
    width: 45%;
    margin:  2.3%;
    background-color: lightblue;
    color: #bdc3c7;
    width: 28.3333%;
}
img {
    max-width: 400%;
    width: 250px;
    height: 250px;  
}




.social-meida-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px; 
}

#logo {
    text-align: center;
    margin: 0;
} 

a {
    color: #0000FF; 
}
header {
    background: #0000FF;
}

h1, h2 {
    color: #fff; 
    font-family: 'Caveat Brush', cursive;
}
nav {
    background: #5996a8;
}
nav a, nav a:visited {
    color: #fff; 
}
nav a.selected {
    color:  #32673f; 
}

h1 {
    font-family: 'Caveat Brush', cursive;
    margin: 15px 0;
    font-size:  2.00em;
}
h2 {
    font-size: 1.75em;
    margin:  -5px 0 0;
    font-weight: normal
}
nav {
    text-align: center;
    padding: 10px 0;
    margin:  30px 0 0;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color:  #ccc; 
    clear: both;
}
nav ul {
  list-style: none;
  padding: 10px 0;
  margin: 0 10px;
}
nav li {
    display: inline-block;
}
nav a {
    font-weight: 800;
    padding: 15px 10px;
}

h3 {
       font-family: 'Caveat Brush', cursive;
    margin: 15px 0;
    font-size:  2.00em;
    color: #fff;
}
   
p {
    color: #fff;
}
    
  



     
   
